#!/usr/bin/make -f
%:
	dh $@

install_package_data:
	dh_installinit --no-start
	dh_installlogrotate
	dh_bash-completion

override_dh_auto_install:
	/usr/bin/mvn clean -Dmaven.repo.local=/tmp/.m2/localRepository
	/usr/bin/mvn -B -am -pl modules/fhs package -Dmaven.repo.local=/tmp/.m2/localRepo -DskipTests
	cp -rf  modules/fhs/target/dcache-fhs-2.5.0/* debian/dcache-server/ 

override_dh_auto_clean:
	/usr/bin/mvn clean -Dmaven.repo.local=/tmp/.m2/localRepository

override_dh_auto_build:
	echo "Skip Autobuild"

install: install_package_data
